Repository jvkass/user-api: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint:fix, yarn eslint:check, prettier --write

.lintstagedrc.json:

{
  "{src,apps,libs,test}/**/*.ts": ["yarn eslint:fix", "yarn eslint:check"],
  "./**/*.{ts,js,json,*rc}": ["prettier --write"]
}

feat: infrastructure base with redis and postgres
  .eslintrc.js
  .prettierrc
  package.json
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/infrastructure/adapters/cache/redis/redis-cache.module.ts
  src/infrastructure/adapters/cache/redis/redis-cache.service.ts
  src/infrastructure/adapters/database/typeorm/configs/typeorm.config.ts
  src/infrastructure/adapters/database/typeorm/type-orm.module.ts
  src/infrastructure/infrastructure.module.ts
  src/infrastructure/interface-adapters/interfaces/cache/cache-memory.interface.ts
  src/infrastructure/providers/crypto.provider.ts
  src/main.ts
  test/app.e2e-spec.ts
  tsconfig.json
  yarn.lock
Due: yarn eslint:fix, yarn eslint:check, prettier --write

feat: create swagger in structure base
  .env.example
  package.json
  src/app.module.ts
  src/main.ts
  yarn.lock
Due: yarn eslint:fix, yarn eslint:check, prettier --write

feat: create base code modules for user
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/modules/user/commands/.gitkeep
  src/modules/user/domain/database/.gitkeep
  src/modules/user/domain/entities/.gitkeep
  src/modules/user/domain/enums/.gitkeep
  src/modules/user/domain/errors/.gitkeep
  src/modules/user/user.module.ts
  test/app.e2e-spec.ts
  test/jest-e2e.json
Due: yarn eslint:fix, yarn eslint:check, prettier --write

feat: create controller and service for user, create entities reference table user
  package.json
  src/app.module.ts
  src/infrastructure/adapters/database/typeorm/configs/typeorm.config.ts
  src/infrastructure/configs/app.routes.ts
  src/interface-adapters/interfaces/user/create.user.interface.ts
  src/interface-adapters/interfaces/user/user-cred.ts
  src/interface-adapters/interfaces/user/user.interface.ts
  src/modules/user/commands/.gitkeep
  src/modules/user/commands/create-user/create-user.command.ts
  src/modules/user/commands/create-user/create-user.http.controller.ts
  src/modules/user/commands/create-user/create-user.request.dto.ts
  src/modules/user/commands/create-user/create-user.service.ts
  src/modules/user/domain/database/.gitkeep
  src/modules/user/domain/database/user.repository.ts
  src/modules/user/domain/entities/.gitkeep
  src/modules/user/domain/entities/user-mail.orm-entity.ts
  src/modules/user/domain/entities/user-password.orm-entity.ts
  src/modules/user/domain/entities/user.orm-entity.ts
  src/modules/user/domain/errors/.gitkeep
  src/modules/user/domain/errors/user-invalid.errors.ts
  src/modules/user/user.module.ts
  yarn.lock
Due: yarn eslint:fix, yarn eslint:check, prettier --write

feat: create abstract error and valid process created for user
  src/libs/exceptions/abstract.error.ts
  src/libs/exceptions/exception.base.ts
  src/modules/user/commands/create-user/create-user.http.controller.ts
  src/modules/user/commands/create-user/create-user.service.ts
  src/modules/user/domain/errors/user-invalid.errors.ts
Due: yarn eslint:fix, yarn eslint:check, prettier --write

fix: retire comment abstract error
  src/modules/user/commands/create-user/create-user.http.controller.ts
Due: yarn eslint:fix, yarn eslint:check, prettier --write

feat: create email exist error for create user
  src/modules/user/commands/create-user/create-user.http.controller.ts
  src/modules/user/commands/create-user/create-user.service.ts
  src/modules/user/domain/database/user.repository.ts
  src/modules/user/domain/errors/email-exist.errors.ts
Due: yarn eslint:fix, yarn eslint:check, prettier --write

feat: create proto and generated user.ts
  package.json
  src/libs/protos/proto/user.proto
  src/libs/protos/proto/user.ts
  yarn.lock
Due: yarn eslint:fix, yarn eslint:check, prettier --write

feat: create controller and service for findUserMailPassword
  .env.example
  README.md
  package.json
  src/libs/ddd/domain/enums/domain-error.enum.ts
  src/libs/protos/proto/user.pb.ts
  src/libs/protos/proto/user.ts
  src/main.ts
  src/modules/user/commands/find-user-mail-password/find-user-mail-password.command.ts
  src/modules/user/commands/find-user-mail-password/find-user-mail-password.grpc.controller.ts
  src/modules/user/commands/find-user-mail-password/find-user-mail-password.service.ts
  src/modules/user/domain/database/user.repository.ts
  src/modules/user/user.module.ts
  yarn.lock
Due: yarn eslint:fix, yarn eslint:check, prettier --write

feat: update and test crypto iv and key
  .env.example
  src/infrastructure/infrastructure.module.ts
  src/interface-adapters/interfaces/user/create.user.interface.ts
  src/interface-adapters/interfaces/user/user-cred.ts
  src/interface-adapters/interfaces/user/user.interface.ts
  src/modules/user/commands/find-user-mail-password/find-user-mail-password.service.ts
Due: yarn eslint:fix, yarn eslint:check, prettier --write

feat: add encrypt in password for save in db
  src/modules/user/commands/create-user/create-user.service.ts
  src/modules/user/commands/find-user-mail-password/find-user-mail-password.service.ts
Due: yarn eslint:fix, yarn eslint:check, prettier --write

feat: create method get user and adapter validate jwt guard
  .env.example
  src/infrastructure/adapters/auth/jwt-auth-guard/validate-jwt-guard.module.ts
  src/infrastructure/adapters/auth/jwt-auth-guard/validate-jwt-guard.service.spec.ts
  src/infrastructure/adapters/auth/jwt-auth-guard/validate-jwt-guard.service.ts
  src/infrastructure/configs/app.routes.ts
  src/libs/decorators/user.decorator.ts
  src/libs/protos/proto/session.pb.ts
  src/libs/protos/proto/session.proto
  src/modules/user/commands/get-user/get-user.command.ts
  src/modules/user/commands/get-user/get-user.http.controller.ts
  src/modules/user/commands/get-user/get-user.response.dto.ts
  src/modules/user/commands/get-user/get-user.service.ts
  src/modules/user/domain/database/user.repository.ts
  src/modules/user/domain/errors/user-not-exist.errors.ts
Due: yarn eslint:fix, yarn eslint:check, prettier --write

feat: update readme
  README.md
  src/infrastructure/adapters/auth/jwt-auth-guard/validate-jwt-guard.module.ts
  src/infrastructure/adapters/auth/jwt-auth-guard/validate-jwt-guard.service.ts
Due: yarn eslint:fix, yarn eslint:check, prettier --write

feat: add @golevelup/ts-jest
  package.json
  yarn.lock
Due: prettier --write

feat: update .env example
  .env.example
Due: none

fix: imports and exports used in validation session
  src/infrastructure/infrastructure.module.ts
  src/modules/user/domain/database/user.repository.ts
  src/modules/user/user.module.ts
Due: yarn eslint:fix, yarn eslint:check, prettier --write

feat: create instances with docker-compose and update readme for execution
  .env.example
  README.md
  docker-compose.yml
  src/modules/user/domain/errors/email-exist.errors.ts
  src/modules/user/domain/errors/user-invalid.errors.ts
  src/modules/user/domain/errors/user-not-exist.errors.ts
Due: yarn eslint:fix, yarn eslint:check, prettier --write

feat: update insomnia and update description readme
  Insomnia-All_2023-03-31.json
  README.md
Due: prettier --write

fix: update insomnia
  Insomnia-All_2023-04-10.json
Due: prettier --write

fix: return passwordEncrypt in create user
  src/modules/user/commands/create-user/create-user.http.controller.ts
  src/modules/user/commands/create-user/create-user.service.ts
Due: yarn eslint:fix, yarn eslint:check, prettier --write

fix: update readme
  README.md
Due: none

fix: decorator IsEmail functional
  src/modules/user/commands/create-user/create-user.request.dto.ts
Due: yarn eslint:fix, yarn eslint:check, prettier --write

feat: collection postman
  postman_collection.json
Due: prettier --write
